body {
	width: 960px;
	margin: 30px auto;
}

div.right, div.left {
	widht:450px;
}

div.right {float: right}
div.left {float: left}

.btn-group, .list-group {
	display:block;
	margin: 30px 0;
}

.analyst a div {float:right}

.analyst {
	min-width: 330px;
}
